.resume-container {
	&,
	.print-download-buttons {
		display: grid;
		grid-template-columns: #{ ( 100 - parseInt($golden-ratio) ) / 100 }fr #{ parseInt($golden-ratio) / 100 }fr;
		gap: 1em;
	}

	.left-column-container,
	.right-column-container,
	.full-width-container {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}

	.left-column-container section:not(.print-download-buttons),
	.right-column-container,
	.full-width-container {
		@extend %content-box-style;

		padding: 1em;
	}

	.left-column-container {
		grid-column: 1;
	}

	.right-column-container {
		grid-column: 2;
		position: relative;

		&::after {
			@extend %content-box-style;

			content: '';
			position: absolute;
			top: 100%;
			left: -1px;
			width: calc(100% + 2px);
			height: calc(1em + 2px);
			border-top-width: 0;
			border-bottom-width: 0;
		}
	}

	.full-width-container {
		grid-column: 1 / -1;
	}
}

.print-button,
.download-button {
	@extend %cta;

	padding-left: 0;
	padding-right: 0;
	font-size: 1.2em;
}

.resume-section-header {
	margin-bottom: 0.5em;
}

.resume-meta-list {
	font-size: 1.2em;

	dt {
		@extend .visually-hidden;
	}

	dd {
		margin-top: 0.5em;

		&:first-of-type {
			margin-top: 0;
			font-size: 1.5em;
			font-weight: bold;
		}
	}

	a {
		display: inline-block;
		width: 100%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

.education-degree-year,
.job-location-period {
	font-weight: bold;
	color: $concrete;
}

.skill-list-item,
.tool-list-item,
.job-achievements-list-item {
	display: list-item;
	position: relative;
	list-style-type: none;
	margin-left: 1.5em;
	line-height: 1.5em;

	&:before {
		content: '';
		display: block;
		position: absolute;
		width: 5px;
		height: 5px;
		top: 0.65em;
		left: -1.1em;
		background-color: $asbestos;
	}
}

.job-location-period {
	display: inline-block;
	margin-bottom: 0.5em;
}

.job-achievements-title {
	margin-bottom: 0.25em;
	font-weight: normal;
}

// media queries
// @media only screen and (max-width: $breakpoint-medium) {
// }

@media only screen and (max-width: $breakpoint-small) {

}

@media print {
	.resume-container {
		.print-download-buttons,
		.skills {
			display: none;
		}
	}

	.resume-meta-list {
		dd {
			&:first-of-type {
					font-size: 2em;
			}
		}
	}

	.skill-list-item,
	.tool-list-item,
	.job-achievements-list-item {
		list-style-type: square;

		&:before {
			content: none;
		}
	}
}