<script type="text/html" id="rootView">
    <article class="welcome-text">
        <p>I&#39;m a <strong>Frontend Developer</strong> who&#39;s passionionate about seamless UX, with experience spanning industries and product categories.</p>
        <p><strong>Get in touch</strong> if you&#39;d like to build something together.</p>
    </article>
</script>

<script type="text/html" id="resumeView">
    <article class="welcome-text">
        <p>I&#39;m a <strong>Frontend Developer</strong> who&#39;s passionionate about seamless UX, with experience spanning industries and product categories.</p>
        <p><strong>Get in touch</strong> if you&#39;d like to build something together.</p>
    </article>
</script>

<script type="text/html" id="projectsView">
    <article class="welcome-text">
        <p>I&#39;m a <strong>Frontend Developer</strong> who&#39;s passionionate about seamless UX, with experience spanning industries and product categories.</p>
        <p><strong>Get in touch</strong> if you&#39;d like to build something together.</p>
    </article>
</script>

<script type="text/html" id="contactView">
    <article class="welcome-text">
        <p>I&#39;m a <strong>Frontend Developer</strong> who&#39;s passionionate about seamless UX, with experience spanning industries and product categories.</p>
        <p><strong>Get in touch</strong> if you&#39;d like to build something together.</p>
    </article>
</script>