<article class="resume-container" itemscope itemtype="https://schema.org/Person">
  <div class="meta-content-container">
    <section class="print-download-buttons">
      <a href="javascript:window.print()" class="print-button">print</a>

      <a href="/assets/pdf/Brad_Mallow_resume.pdf" class="download-button" target="_blank" download>download</a>
    </section>

    <section class="personal">
      <dl class="resume-personal-list">
        <dt>name</dt>
        <dd itemprop="name"><%= currentPage.personal.name %></dd>

        <dt>phone number</dt>
        <dd><a itemprop="telephone" href="tel://<%= currentPage.personal.phone.countryCode %>-<%= currentPage.personal.phone.areaCode %>-<%= currentPage.personal.phone.number %>">+<%= currentPage.personal.phone.countryCode %> (<%= currentPage.personal.phone.areaCode %>) <%= currentPage.personal.phone.number %></a></dd>

        <dt>email address</dt>
        <dd><a itemprop="email" href="mailto://<%= currentPage.personal.email %>"><%= currentPage.personal.email %></a></dd>

        <dt>website</dt>
        <dd><a itemprop="url" href="<%= currentPage.personal.website %>"><%= currentPage.personal.website %></a></dd>
      </dl>
    </section>

    <section class="skills">
      <h2 class="resume-section-header">Skills</h2>

      <ul class="skills-list">
        <% _.each(currentPage.skills, function(skill) { %>
          <li class="skill-list-item"><%= skill %></li>
        <% }); %>
      </ul>
    </section>

    <section class="education screen-only">
      <h2 class="resume-section-header">Education</h2>

      <ul class="education-list">
        <% _.each(currentPage.education, function(education) { %>
          <li itemprop="alumniOf" itemscope itemtype="https://schema.org/CollegeOrUniversity" class="education-list-item">
            <h3 itemprop="name"><%= education.school %></h3>
            <span class="education-degree-year"><%= education.degree.type %>, <%= education.degree.subject %> &#8212; <%= education.graduationYear %></span>
          </li>
        <% }); %>
      </ul>
    </section>
  </div>

  <% _.each(currentPage.experience, function(job, index, list) { %>
    <% if (index === 0) { %>
      <div class="primary-content-container">
        <section class="summary">
          <h2 class="resume-section-header">Summary</h2>

          <p><%= currentPage.summary %></p>
        </section>

        <section class="experience screen-only">
          <h2 class="resume-section-header">Professional Experience</h2>

          <h3 itemscope itemprop="worksFor" itemtype="https://schema.org/Organization"><%= job.title %>, <span itemprop="name"><%= job.organization %></span></h3>

          <span class="job-location-period">
            <% print((job.location ? job.location + ' &#8212; ' : '') + job.period.start + ' to ' + (job.period.end ? job.period.end : 'present')); %>
          </span>

          <% if (job.description) { %>
            <p class="job-description"><%= job.description %></p>
          <% } %>

          <% if (job.achievements && job.achievements.length) { %>
            <h4 class="job-achievements-title">Achievements</h4>

            <ul class="job-achievements-list">
              <% _.each(job.achievements, function(achievement) { %>
                <li class="job-achievements-list-item"><%= achievement %></li>
              <% }); %>
            </ul>
          <% } %>
        </section>
      </div>

      <div class="secondary-content-container">
    <% } %>
      <% if (index === 0) { %>
        <section class="experience print-only">
          <h2 class="resume-section-header">Professional Experience</h2>
      <% } else { %>
        <section class="experience">
      <% } %>
        <h3 itemscope itemprop="worksFor" itemtype="https://schema.org/Organization"><%= job.title %>, <span itemprop="name"><%= job.organization %></span></h3>

        <span class="job-location-period">
          <% print((job.location ? job.location + ' &#8212; ' : '') + job.period.start + ' to ' + (job.period.end ? job.period.end : 'present')); %>
        </span>

        <% if (job.description) { %>
          <p class="job-description"><%= job.description %></p>
        <% } %>

        <% if (job.achievements && job.achievements.length) { %>
          <h4 class="job-achievements-title">Achievements</h4>

          <ul class="job-achievements-list">
            <% _.each(job.achievements, function(achievement) { %>
              <li class="job-achievements-list-item"><%= achievement %></li>
            <% }); %>
          </ul>
        <% } %>
      </section>
    <% if (index === list.length - 1) { %>
      </div>
    <% } %>
  <% }); %>

  <section class="education print-only">
    <h2 class="resume-section-header">Education</h2>

    <ul class="education-list">
      <% _.each(currentPage.education, function(education) { %>
        <li itemprop="alumniOf" itemscope itemtype="https://schema.org/CollegeOrUniversity" class="education-list-item">
          <h3 itemprop="name"><%= education.school %></h3>
          <span class="education-degree-year"><%= education.degree.type %>, <%= education.degree.subject %> &#8212; <%= education.graduationYear %></span>
        </li>
      <% }); %>
    </ul>
  </section>
</article>
